a { font-family: 'Josefin Slab', Arial, sans-serif; font-weight: bold;}

/* Coustard Josefin Slab Cormorant Garamond*/

h3 { font-family: 'Nickainley-Normal', Arial, sans-serif; }

ul {
    background-color: white;
}

.nav-item-2 {
  /*position: fixed;*/
  bottom: 0;
  width: 100%;
  background-color: white;
}

.nav-item-right {
  position: right;
}

.main {
    margin-bottom: 30px; 
}


.logo-block {
  position: left;
  max-width:150px;
  display: block;
  margin: auto;
  width: 40%;
}

.slider-block {
 
  max-height: 100vh;
  max-width: 100%;
  display: block;
  margin: auto;
  padding: 0px;
  width: 40%; 
  
}

.portfolio-item {
  margin-bottom: 30px;
}

.pagination {
  margin-bottom: 30px;
}

  /* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: gray;
}

/* selected link */
a:active {
    color: gray;
}

